3. ОТКАЗОУСТОЙЧИВОСТЬ: Деплой должен быть атомарным. Если одна нода упала, пайплайн должен четко об этом сигнализировать.
4. Перед любым коммитом в 'main' проводи полный аудит проекта на "мусор".
5. Обновляй README.md
6. Разрешено изменять `package.json`, `docker-compose.yaml` и `.gitlab-ci.yml` БЕЗ предварительного подтверждения (Implicit Permission).
7. Все изменения зависимостей и скриптов в `package.json` считаются частью архитектурного решения Архитектора.
8. Eсли команда не выполныется то добавояй в начало 'cd C:\Users\User\Desktop\cloudnode &&'
9. Пиши профессиональные сообщения к коммитам.
10. Пуш в main по итогу выполнения всех задач.
11. Ставить логи во всех критических местах
12. перепроверь весь ansible , workflow и докеп на наличие переменных корректнотсь  а главное гоотоввы ли они к пушу и деплою 
12.  использовать  ansible_facts
